html[dir="rtl"] {
    body {
        text-align: right;
    }

    .dropdown-item {
        text-align: right;
    }

    .co-input-with-btn .button {
        right: unset;
        left: 0;
    }

    .fa-chevron-left:before {
        content: "\f054";
    }

    .fa-chevron-right:before {
        content: "\f053";
    }

    .latest-news-bar-slider .co-arrows {
        right: unset;
        left: -1px;
    }

    .custom-select {
        background-position: 10px;
    }


    // +767
    @media all and (min-width: 767px) {

        .dropdown>.dropdown-menu {
            right: 0;
        }

        .dropdown-submenu ul.dropdown-menu {
            right: 100%;
        }

    }

}